/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes slideInUp {
  0% {
    transform: translateY(100%); /* Start off-screen to the right */
    opacity: 0; /* Start with invisible elements */
  }
  100% {
    transform: translateY(0); /* End at normal position */
    opacity: 1; /* Make the element fully visible */
  }
}

body {
  margin: 0px;
  background-color: #F1F5F2;
}

.main-interface {
  display: flex;
  margin: 30px;
  opacity: 0;
  animation: slideInUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

/* Add ingredients (input, instructions, etc) */
.add-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  font-size: 14px;
  color:#F1F5F2;
  background-color: #355834;
  border-radius: 25px;
  margin-left: 175px;
  margin-right: 175px;
  padding-bottom: 25px;
  font-family: Calibri;
}

.add-ingredients p {
  margin-bottom: 0;
}

.search {
  display: flex;
  flex-direction: row;
}

.add-ingredients-input{
  margin: 20px;
  margin-right: 10px;
  padding-left: 15px;
  width: 800px;
  height: 40px;
  align-items: center;
  font-family: Calibri;
  border-radius: 10px;
  border: 2px solid #14281D;
}

.add-ingredient-button{
  width: 40px;
  height: 40px;
  align-items: center;
  background-color: #04aa6d;
  border-radius: 10px;
  border: 2px solid #14281D;
  margin: 10px;
  margin-top: 20px;
  background-image: url(../public/assets/searchicon.png);
  background-size: cover;
  transition: background-color 0.3s;
}

.add-ingredient-button:hover {
  cursor: pointer;
  background-color: #037f5b;
}

.ingredient-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #355834;
}

/* Check boxes */
.ingredient-checkboxes {
  align-items: center;
  position: relative;
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 75px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 20px;
}

.ingredient-image {
  width: 75px;
  height: 75px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: opacity 0.3s;
}

.ingredient-image.selected {
  opacity: 0.85;
}

.ingredient-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #14281D;
  border-radius: 15px;
  padding: 10px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.ingredient-label.selected {
  background-color: #14281D;
  border: 2px solid #355834;
  color: #cecece
}

.hidden-checkbox {
  display: none;
}

/* Right panel for current ingredients and search button */
.right-panel { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  margin-right: 100px;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 700px;
  background-color: #355834;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.current-ingredients-label {
  color: #F1F5F2;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 25px;
  font-family: Calibri;
}

.ingredient-list {
  color: #F1F5F2;
  font-size: 20px;
  font-weight: bold;
  height: 578px;
  overflow-y: auto;
  padding: 10px;
  margin-top: 0px;
}

.selected-ingredient {
  transition: color 0.3s;
}

.selected-ingredient:hover {
  text-decoration: line-through;
  color: #964141;
}

/* Button stylings */
.button {
  width: 125px;
  height: 40px;
  font-size: 20px;
  background-color: #04aa6d;
  color: white;
  font-family: Calibri;
  transition: background-color 0.3s;
  border: 2px solid #14281D;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #037f5b;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.clear-ingredients-button {
  margin: 10px;
}

.search-button {
  margin: 10px;
}